- model_class = DrillSession
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:workout_session_id) + ':'
  %br
  = @drill_session.workout_session_id
%p
  %strong= model_class.human_attribute_name(:drill_id) + ':'
  %br
  = @drill_session.drill_id
%p
  %strong= model_class.human_attribute_name(:weight) + ':'
  %br
  = @drill_session.weight
%p
  %strong= model_class.human_attribute_name(:reps) + ':'
  %br
  = @drill_session.reps


= link_to t('.back', :default => t("helpers.links.back")), drill_sessions_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_drill_session_path(@drill_session), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), drill_session_path(@drill_session), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
