%tr
  %td= workout_session.workout.name
  %td= workout_session.created_at
  %td= workout_session.absolute_score
  %td= workout_session.relative_score
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_workout_session_path(workout_session), :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), workout_session_path(workout_session), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'