.page-header
  %h1 Workout Sessions
%table.table.table-striped
  %thead
    %tr
      %th= "Workout"
      %th= "Date"
      %th= "Absolute Score"
      %th= "Relative Score"
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    = render @workout_sessions